body {
  background-color: #74767a;
}
.App {
  background-color: #74767a;
  text-align: center;
}
.BookItem {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  align-content: left;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  width: 300px ;
}
.bookList {
  columns: 2;
  column-width:50px;
  -webkit-columns: 2;
  -moz-columns: 4;
  align-content: left;
  
}

.cart-left-side {
  columns: 2;
  -webkit-columns: 1;
  -moz-columns: 2;
  align-content:left;
}

.cart-total {
  margin-top: 30px;;
  height:100%;
  width: 100%;
} 

 .Dropdown{
  color: rgb(7, 7, 7); 
}

