.App {
  text-align: center;
}

.bookList {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.cart-left-side {
  height:100%;
  width: 100%;
}

.cart-total {
  margin-top: 30px;;
  height:100%;
  width: 100%;
} 

 .Dropdown{
  color: rgb(7, 7, 7); 
}

